/*-------------------------

MEGA MENU

-------------------------*/

.menu-bold {font-family:'Lato',sans-serif;font-weight:900;font-size:14px;letter-spacing:.03em;}

.main-nav,
.main-nav a,
.main-nav ul,
.main-nav li,
.main-nav div,
.main-nav form,
.main-nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.main-nav a { text-decoration: none; }

.main-nav li { list-style: none; }

/* Menu Container */
.main-nav {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: -5px;
  cursor: default;
  z-index: 500;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: border .3s ease;
}

/* Menu List */
.main-nav > li {
  display: block;
}

/* Menu Links */
.main-nav > li > a {
  position: relative;
  display: block;
  height:40px;
  padding-top:5px;
  z-index: 510;
  font-weight: 600;
  color: #009ddc ;
  cursor: default;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav > li:hover > a { 
  color: #356d83!important;
  text-decoration: none;
  cursor:pointer;
}

/* Menu Dropdown */
.main-nav > li > div {
  position: absolute;
  display: block;
  width: 700px;
  height: 300px;
  top: 50px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all .2s ease .15s;
  -moz-transition: all .2s ease .15s;
  -o-transition: all .2s ease .15s;
  -ms-transition: all .2s ease .15s;
  transition: visibility 0.2s linear, opacity 0.2s linear;;
}

.main-nav > li > .escape-menu {width:700px;height:400px;left:0px;}
.main-nav > li > .platinum-menu {width:700px;height:330px;left:0px;}
.main-nav > li > .swim-menu {width:700px;height:280px;left:0px;}
.main-nav > li > .platinum-menu {width:700px;height:330px;left:0px;}
.main-nav > li > .inground-menu {width:700px;height:280px;left:0px;}

.main-nav > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

/* Menu Content Styles */
.main-nav .nav-column {
  float: left;
  width: 160px;
  
}
.main-nav .nav-column:first-child {margin-left: 30px;margin-right:35px;}

.main-nav .nav-column h3 {
    margin: 20px 0 10px 0;
    line-height: 19px;
    font-weight: 400;
    letter-spacing:.03em;
    font-size: 17px;
    font-family: 'Lalezar', sans-serif;
    color: #333;
    text-transform: uppercase;
}

.main-nav .nav-column h3.blue { color: #009ddc; }
.main-nav .nav-column p {font-size:13px;}

.main-nav .nav-column li a {
    display: block;
    width:140px;
    line-height: 22px;
    font-weight: 400;
    font-size: 14.5px;
    color: #333;
}
.inground-menu .nav-column li a {width:170px;}

.main-nav .nav-column li a:hover { color: #86BBD8; }